<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.canton.dao.mapper.BookMapper">

    <!-- Search all book   -->
    <select id="getAllBook" resultType="com.canton.dao.entity.Book">
        SELECT
        *
        FROM
        book_table
    </select>

    <!-- Search all book content   -->
    <select id="getCountBook" resultType="integer">
        SELECT
        count(*)
        FROM
        book_table
    </select>


    <!-- Search book content By Id And Page   -->
    <select id="getBookContentById" resultType="com.canton.dao.entity.Book">
        SELECT
        *
        FROM
        bookpage_table
        WHERE
        bookId = #{bookId}
    </select>

</mapper>