@import '~antd/es/style/themes/default.less';
.indexSearch {
  margin: 5% 0 0 0;
  text-align: center;
  .cascader {
    width: 40%;
    margin: 15px 0;
  }
}
.search {
  //background-image: linear-gradient(to right, white 0%, #2cbafe14 48%, white 100%);
  //margin:20px 0;
  text-align: center;

  .title {
    font-size: 18px;
    line-height: 40px;
  }

  .cascader {
    width: 30%;
    margin: 15px 0;
  }

  .content {
    height: 600px;
    margin-top: 20px;
  }
}

.cardContainer {
  height: 576px;
  margin: 0 20px 20px;
  padding-top: 10px;
  box-shadow: 3px 3px 7px 2px #d9dee38c;

  .outCard {
    margin: 5px 10px;

    .innerCard {
      margin: 0 8px;

      .contentDiv {
        height: 420px;
        margin-right: 5px;
        overflow: auto;

        .authorImg {
          background: url(./../../assets/people.svg) no-repeat;
          background-size: 100% 100%;
        }

        .author {
          margin-left: 10px;
          font-size: 17px;
        }
      }

      .briefContent {
        float: left;
        margin-top: 20px;
        overflow: auto;
        line-height: 22px;
        letter-spacing: 0.1em;
        text-align: left;
        text-indent: 2em;
      }

      .relevance {
        float: left;
        margin: 10px;

        .relevanceImg {
          margin-bottom: 8px;
          background: url(https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg) no-repeat;
          background-size: 100% 100%;
        }
      }

      .detail {
        float: left;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
      }
    }

    .threeDiv {
      margin-left: 10px;

      .three {
        font-size: 18px;
        text-align: left;
      }
    }

    .substanceDiv {
      height: 500px;
      overflow: auto;

      :global(.ant-card-bordered) {
        margin: 15px;
        background: none;
        border: 1px solid #b3ceee;
        border-radius: 10px;
      }

      .bookImage {
        float: left;
      }
    }
  }
}
