@import '~antd/es/style/themes/default.less';

.search {
  background-image: linear-gradient(to right, white 0%, #2cbafe29 48%, white 100%);
  //margin:20px 0;
  text-align: center;

  .title {
    font-size: 18px;
    line-height: 40px;
  }

  .cascader {
    margin: 15px 0;
    width: 30%;
  }
  .content{
    height: 600px;
    margin-top:20px;
  }
  .empty {
    height: 100%;
    color: #d5e7f4;

    .icon1 {
      font-size: 100px;
      transform: rotate(-35deg);
      margin: 70% 0 0 0;
      float: right;
    }

    .icon2 {
      font-size: 200px;
      transform: rotate(-35deg);
      margin: 5% 0 0 0
    }

    .icon3 {
      font-size: 150px;
      margin-top: 85%;
      float: left;
    }

    .text {
      font-size: 30px;
      margin-top: 35%;
      color: #b3bec9
    }
  }
}
