@import '~antd/es/style/themes/default.less';

.substanceDiv {
  height: 500px;
  overflow: auto;

  :global(.ant-card-bordered) {
    margin: 15px;
    background: none;
    border: 1px solid #b3ceee;
    border-radius: 10px;
  }

  .card {
    text-align: center;
  }
  .bookImage {
    float: left;
  }
}
