@import '~antd/es/style/themes/default.less';

.search {
  background-image: linear-gradient(to right, white 0%, #2cbafe14 48%, white 100%);
  text-align: center;
  :global(.ant-input-group.ant-input-group-compact> *:not(:last-child)) {
    margin-right: 10px;
    border-right-width: 1px;
  }

  .input {
    text-align: left;
    margin: 15px 0;
    width: 15%;
  }
  .button{
    margin: 15px 0;
  }

  .icon {
    margin-right: 5px;
    font-size: 20px;
    line-height: 70px;
  }
}
