@import '~antd/es/style/themes/default.less';

.outside {
  background-image: linear-gradient(to right, white 0%, #2cbafe14 48%, white 100%);

  .search {
    display: flex;

    .content {
      display: flex;
      margin: 10px auto;
    }
  }
}

.cardContainer {
  margin: 0 20px 20px;
  padding-top: 10px;
  height: 576px;
  box-shadow: 3px 3px 7px 2px #d9dee38c;
  overflow: auto;

  .outCard {
    margin: 5px 10px;
    :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
      color: #1890ff;
      font-size: 16px;
      font-weight: 600;
    }
    .innerCard {
      padding: 0 5%;
    }
  }
}

.time {
  font-size: 20px;
  p {
    margin-bottom: 3px;
    .icon {
      margin: 0 4px;
      font-size: 16px;
    }
  }

  .detail {
    border: 1px #91d5ff solid;
    background: #e6f7ff;
    border-radius: 4px;
    padding: 2px;
  }
}

.substanceDiv {
  overflow: auto;

  :global(.ant-card-bordered) {
    border: 1px solid #b3ceee;
    margin: 15px;
    background: none;
    border-radius: 10px;
  }

  .card {
    text-align: center;

    .bookImage {
      float: left;
    }
  }
}
