@import '~antd/es/style/themes/default.less';
.search {
  background-image: linear-gradient(to right, white 0%, #2cbafe14 48%, white 100%);
  display: flex;
  .content{
    display: flex;
    margin: 10px auto;
  }
}
